$blue: #00acee;
$light_blue: #f0f8ff;
$light_grey: #F5F5F5; 
$light_white: #FBFBFB;
$white: #FFF;

body, #root {
    background-color: $light_white !important;
    height: 100vh;
}

.hashtags--container {
    overflow-y: scroll;
}

.tweet_row_container:nth-child(even) {
    background-color: $light_grey;
}

.tweet_row_container:nth-child(odd) {
    background-color: $white;
}

.tweets--container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.7);
    border-radius: 4px;
    padding: 0px !important;
}

// Small and Down
@media (max-width: 767px) {
    .tweets--container {
        overflow: hidden;
        max-height: fit-content;
    }

    .hashtags--container {
        height: fit-content;
    }

    body {
        overflow: auto !important;
    }
}

// Medium and Up
@media (min-width: 768px) {
    .tweets--container { 
        overflow-y: scroll;
        max-height: 50%;
    }

    .hashtags--container {
        height: 75%;
    }

    body {
        overflow: hidden !important;
    }
}

.no_results_spinner {
    font-size: 3rem;
    margin: 2rem 0;
}

.hashtag {
    background-color: $blue !important;
    color: $white !important;
    margin: 0px 0.25rem;
    cursor: pointer;

    &:hover {
        color: $light_blue !important;
        transform: scale(1.02);
    }
}

.hashtag:first-of-type {
    margin-left: 0px !important;
}

.load_more_tweets_button {
    background-color: transparent !important;
    width: fit-content;
    align-self: center;
    margin: 2rem 0;
    border: none !important;
    color: $blue !important;

    &:hover {
        color: #0075A2 !important;
        transform: scale(1.02);
    }
}

// UTILITIES
.u-box-shadow {
    box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.7);
    border-radius: 4px;
}

.u-background-color--light_white {
    background-color: $light_white;
}