$blue: #00acee;
$light_blue: #f0f8ff;
$light_grey: #F5F5F5; 
$light_white: #FBFBFB;

.tweet_row_container:nth-child(even) {
    background-color: $light_grey;
}

.tweet_row_container:nth-child(odd) {
    background-color: $light_white;
}

.tweets--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.no_results_spinner {
    font-size: 3rem;
    margin: 2rem 0;
}

.load_more_tweets_button {
    background-color: transparent !important;
    width: fit-content;
    align-self: center;
    margin: 2rem 0;
    border: none !important;
    color: $blue !important;

    &:hover {
        color: #0075A2 !important;
        transform: scale(1.02);
    }
}

// UTILITIES
.u-box-shadow {
    box-shadow: -2px 2px 7px -1px rgba(0,0,0,0.7);
}